* {
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}

.location {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    top: 50%;
    left: 50%;
    z-index: 1;
 
}

.windDegree {
    justify-content: center;
    display: flex;
}

.windspeed {
    justify-content: center;
    display: flex;
    font-size: x-small;

}

.temp-descreption {
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.windspeed {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    position: fixed;
    margin-top: 50px;
    z-index: 1;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
    
}

.temp-degree {
    display: flex;
    position: fixed;
    justify-content: center;
    font-family: monospace;
    color: blanchedalmond;
    font-size: x-large;
    justify-content: space-around;
    z-index: 2;
    margin-top: 130px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
        
}

.turnMe  {
    position: fixed;
    justify-content: center;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -30px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;

}

.rotation {
    position: fixed;
    justify-content: center;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: -20px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;

}

